.PaperWrapper {
    display: flex;
    justify-content: center;
  }
  
  .CenterPaper {
    width: 23%;
    padding: 16px;
    margin: 30px; /* เพิ่มระยะห่างจากขอบด้านข้างมา 50px */
  }
  .CenterPaper2 {
    width: 60%;
    padding: 16px;
    margin: 30px; /* เพิ่มระยะห่างจากขอบด้านข้างมา 30px */
  }
  
  .TableContainer {
    width: 100%;
  }